
@{
    ViewBag.Title = "Page No Found";
}

<h3>@ViewBag.Title.</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h3><strong>Attention:</strong></h3>
            <div>
                <h4>I am sorry. The page can not be visited! The website is on construction. </h4>
            </div>
        </div>
    </div>
</div>

