
@{
    ViewBag.Title = "Sitemap";
}

<h3>Sitemap</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h4>The website is on construction. The function will be completed soon.</h4>
        </div>
    </div>
</div>
