
<h3>Introduction<small> - made by Alan Yu</small></h3>
<div class="panel panel-default">
    <div class="panel-body">
        <p><strong>The web store is to demonstrate the ability and experience of developing the web application on .Net platform. 
        The application consists of the follow three parts:</strong></p>
        <ol>
            <li>Data storage uses microsoft SQL Server.</li>
            <li>Data Access Layer  uses the Entity Framework Code-First technology and Repository pattern to separates data-access logic from the business service. </li>
            <li>Service Layer encapsulates business logic and common logic.</li>
            <li>Presentation Layer uses ASP.NET MVC to impement a user interface.</li>
        </ol>
        <p><strong>The application are built on the following technologies:</strong></p>
        <ul>
            <li>Autofac (Inversion of Control and Dependency Injection)</li>
            <li>Entity Framework (Data Access)</li>
            <li>ASP.NET MVC, Bootstrap, jQuery, knockoutJS, etc. (User Interface)</li>
        </ul>
        <p>For the purpose of the demonstration only, the application is not completed. Lots of functions are not implemented by now.</p>
    </div>
</div>

<h4>Source Code Download :</h4>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <strong>
                Click<a href="@Url.Content("~/Content/Downloads/Bong_Source.rar")"> Bong_Source.rar </a>for download.
            </strong>
        </p>
    </div>
</div>