@{
    ViewBag.Title = "About us";
}
<h3>@ViewBag.Title</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h4>Your application description page.</h4>
        </div>
    </div>
</div>






