
@{
    ViewBag.Title = "Privacy Policy";
}

<h3>@ViewBag.Title</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h4>There are the privacy policy of this store.</h4>
        </div>
    </div>
</div>


