
@{
    ViewBag.Title = "Shipping & Returns";
}

<h3>@ViewBag.Title.</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <h4>There are something about shipping and returns.</h4>
        </div>
    </div>
</div>

