
@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
{
<div class="input-group input-group-sm">
    <input name="searchtext" type="text" class="form-control">
    <span class="input-group-btn">
        <input type="submit" class="btn btn-default btn-xs" value="Search" />
    </span>
</div>
}