@model SimpleProductList
@using Bong.Web.Models;

<h3>@Model.Name</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 btn-group">
            <a href="#" id="list" class="btn btn-sm pull-right">
                <span class="glyphicon glyphicon-th-list"></span>List
            </a>
            <a href="#" id="grid" class="btn btn-sm pull-right">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row product-grid">
        @foreach (var product in Model.ProductViews)
        {
            @Html.Partial("_ProductView", product);
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#list').click(function (event) { event.preventDefault(); $('#products').removeClass('product-grid'); $('#products').addClass('product-list'); });
        $('#grid').click(function (event) { event.preventDefault(); $('#products').removeClass('product-list'); $('#products').addClass('product-grid'); });
    });
</script>
